<a href="https://colab.research.google.com/github/webertmaximiano/apache-spark-colab/blob/main/ApacheSpark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Instalação do **Spark**

In [3]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

In [4]:
!wget -q https://downloads.apache.org/spark/spark-3.2.4/spark-3.2.4-bin-hadoop3.2.tgz

In [5]:
# Descompactando os arquivos
!tar xf spark-3.2.4-bin-hadoop3.2.tgz

In [6]:
!pip install -q findspark

In [7]:
!pip install -q pyspark

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 3.8 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
  Building wheel for pyspark (setup.py) ... done

# Configurar Variáveis de **Ambiente**

In [9]:
import os
# Definindo a variável de ambiente do Java
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
# Definindo a variável de ambiente do Spark
os.environ["SPARK_HOME"] = "/content/spark-3.2.4-bin-hadoop3.2"

# **Iniciar Spark**

In [10]:
import findspark

In [15]:
findspark.init()

# **PySpark**

**Instanciar o SparkContext**

In [16]:
from pyspark import SparkContext
spark_contexto = SparkContext() # Instantiate SparkContext

**Verificar o SparkContext**

In [17]:
print(spark_contexto)

<SparkContext master=local[*] appName=pyspark-shell>

**Versão do Spark**

In [18]:
print(spark_contexto.version)

3.2.4

**Criar uma instância do Spark**

In [19]:

from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

**Imprimir Instância do Spark**

In [20]:
print(spark)

<pyspark.sql.session.SparkSession object at 0x7fa17712a3b0>

**Carregar os dados do arquivo no Spark Dataframe**

In [21]:
dataset = spark.read.csv('/content/sample_data/california_housing_test.csv',inferSchema=True, header =True)

**Imprimir o Esquema**

In [22]:
dataset.printSchema()

root
 |-- longitude: double (nullable = true)
 |-- latitude: double (nullable = true)
 |-- housing_median_age: double (nullable = true)
 |-- total_rooms: double (nullable = true)
 |-- total_bedrooms: double (nullable = true)
 |-- population: double (nullable = true)
 |-- households: double (nullable = true)
 |-- median_income: double (nullable = true)
 |-- median_house_value: double (nullable = true)

**Visualizar um subconjunto dos Dados**

In [23]:
dataset.show(3)

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|  -122.05|   37.37|              27.0|     3885.0|         661.0|    1537.0|     606.0|       6.6085|          344700.0|
|   -118.3|   34.26|              43.0|     1510.0|         310.0|     809.0|     277.0|        3.599|          176500.0|
|  -117.81|   33.78|              27.0|     3589.0|         507.0|    1484.0|     495.0|       5.7934|          270500.0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
only showing top 3 rows

In [24]:
dataset.head()

Row(longitude=-122.05, latitude=37.37, housing_median_age=27.0, total_rooms=3885.0, total_bedrooms=661.0, population=1537.0, households=606.0, median_income=6.6085, median_house_value=344700.0)

**Total de registros**

In [25]:
dataset.count()

3000

**Criar Tabela SQL Temporária**

In [28]:
dataset.createOrReplaceTempView("tabela_temporaria")

**Imprimir as Tabelas do Catálogo**

In [29]:
print(spark.catalog.listTables())

[Table(name='tabela_temporaria', database=None, description=None, tableType='TEMPORARY', isTemporary=True)]

**Criar consultas SQL**

In [30]:
query = "FROM tabela_temporaria SELECT longitude, latitude LIMIT 3"  # Don't change this query

**Executar a Query**

In [31]:
saida = spark.sql(query)  # Get the first 10 rows of flights

**Exibir o resultado da Query**

In [32]:
saida.show() # Show the results

+---------+--------+
|longitude|latitude|
+---------+--------+
|  -122.05|   37.37|
|   -118.3|   34.26|
|  -117.81|   33.78|
+---------+--------+

**Parar o Spark**

In [33]:
spark.stop()